importFrom("graphics", "abline", "legend", "par", "points", "segments", "title", "pairs", "persp", "plot")
importFrom("stats", "cor", "runif", "na.exclude", "na.omit", "na.pass", "sd", "var", "as.formula", "lm", "predict", "model.frame", "model.matrix", "model.response", "quantile", "terms", "terms.formula", "complete.cases", "weighted.mean")
importFrom("utils", "txtProgressBar", "setTxtProgressBar")
#importFrom("AlgDesign", "optFederov", "optMonteCarlo")
S3method(plot,hcas)
S3method(print,hcas)
exportClasses("hcas")
export(
       "runOpt",
	   "plot.hcas",
	   "print.hcas"
)